@model MVCDemo.Controllers.PersonModel

@{
    ViewBag.Title = "PersonDetail";
}

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>


            <div>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">PersonModel</h4>
                </div>


                <hr />
                <dl class="dl-horizontal">
                    @*<dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CroatianPIN)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CroatianPIN)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>*@

                </dl>
            </div>

        </div>
    </div>

</div>